.spinner {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: black;
	color: #00ff89;
}

h1{
	margin-top: 5rem;
	font-size: 1.7rem;
}