#page-landing{
	width: 100vw;
    height: 100vh;
	background: linear-gradient(329.54deg, #298601 0%, #00C7C7 100%);

	display: flex;
	justify-content: center;
	align-items: center;
}

#page-landing .content-wrapper{
	position: relative;
    
    display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	max-width: 1100px;

	height: 100%;
	max-height: 580px;

	background: url('../../images/Ilustra02.svg') no-repeat 80% center;
}

#page-landing .content-wrapper main{
	width: 100%;
	max-width: 350px;
	margin-top: 6rem;
}

#page-landing .content-wrapper main h1{
	font-size: 76px;
	font-weight: 900;
	line-height: 70px;
}

#page-landing .content-wrapper main p {
	
   margin-top: 40px;
   font-size: 24px;
   line-height: 34px;

}

#page-landing .content-wrapper .location {
	position: absolute;
	left: 0;
	top: 0;
	/*height: auto;*/

	/*margin-bottom: 9rem;*/
    
    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;

    text-align: right;
}

#page-landing .content-wrapper .location .debug{
    margin-top: 0.4rem; 

}


.content-wrapper .location strong{
	font-weight: 800;
	margin-right: 0.1rem;
}

#page-landing .content-wrapper .enter-app{
	position: absolute;
	right: 0;
	bottom: 0;

	width: 80px;
	height: 80px;

	background: #ffd666;
	border-radius: 26px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: background 0.2s;
}

#page-landing .content-wrapper .enter-app:hover{
	background-color: #96feff;
	transition: 0.2s;
}

@media screen and (max-width: 400px){
	body, html{
		font-size: 55%;
	}
}


@media screen and (max-width: 900px){
	body, html{
		width: 100vw;
		height: 100vh;
		font-size: 60%;
	}
	#page-landing{
		/*position: absolute;*/
		width: 100vw;
		height: 100vh;
	}
	#page-landing .content-wrapper{
		position: absolute;
		width: 100%;
		max-width: 100vw;
		height: 100%;
		max-height: 100vh;
		padding: 2.5rem 0.5rem;
		background: rgba(0, 0, 0, 0);
		/*border: 3px solid red;*/
	}

    #page-landing .content-wrapper main{
    	position: relative;
    	width: 100%;
    	max-width: 100vw;
    	height: 100%;
    	max-height: 100vh;
    	display: flex;
    	flex-direction: column;
    	/*border: 2px solid black;*/
    }
	#page-landing .content-wrapper main h1{
		width: auto;
		font-size: 5rem;
        line-height: 5rem;
        margin-top: 18rem;
    }

    #page-landing .content-wrapper main h1, p, img{
    	margin-left: 1.5rem;
    }

    #page-landing .content-wrapper main p{
    	line-height: initial;
    	font-size: 1.5rem;
    	margin-top: 4rem;
    }

    #page-landing .content-wrapper img{
    	height: 6rem;
    	/*position: relative;*/
        margin-right: 1rem;
        /*border: 3px solid red;*/
    }

    #page-landing .content-wrapper .enter-app{
    	position: relative;
    	width: 8rem;
    	height: 12rem;

	    margin-top: 8.3rem;
	    margin-left: 3rem;
    }

 
    #page-landing .content-wrapper .location{
    	 display: flex;
    	 flex-direction: initial;
    	 justify-content: space-between;
    	 width: 100%;
    	 padding: 1.5rem 0.4rem;
         margin-right: 1rem;
         /*margin-left: 3rem;*/
         /*border: 3px solid orange;*/
    }

    #page-landing .content-wrapper .location .debug{
    	display: flex;
    	flex-direction: column;
    	/*border: 4px solid red;*/
    }

    #page-landing .content-wrapper .location .debug strong{
    	line-height: initial;
    	margin-top: 1rem;
    	margin-right: 0;
    }
}